.title {
    color: red;
}

.box1 .title {
    color: yellow;
}

.contents {
    font-style: italic;
    font-size: 28px;
    text-decoration: underline;
    font-weight: 600;
}
.title#headline {
    color: violet;
}